<div class="footer container-fluid">
  <div class="content row">
    <!-- logo and social sites -->
    <div class="socialLinks col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <img src="{{ absolutePath }}/img/codecademy-gray.svg" alt="">
      <p>Teaching the world how to code.</p>
      <div class="socialIcons">
        <a href="#"><i class="fa fa-reddit-alien"></i></a>
        <a href="#"><i class="fa fa-stack-overflow"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-medium"></i></a>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <!-- Links -->
      <div class="row">
        <div class="codecademyInfoDiv col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <!-- About links -->
          <div class="codecademyInfo">
            <h5>Codecademy</h5>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Stories</a></li>
              <li><a href="#">We're Hiring</a></li>
              <li><a href="#">For Business</a></li>
              <li><a href="#">For Education</a></li>
            </ul>
          </div>
          <!-- Resources links -->
          <div class="codecademyResources">
            <h5>Resources</h5>
            <ul>
              <li><a href="#">Articles</a></li>
              <li><a href="#">Forums</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <!-- Courses links -->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <h5>Learn To Code</h5>
            <div class="courseList col-lg-7 col-md-7 col-sm-7 col-xs-12">
              <div class="courses">
                <ul>
                  <li><a href="#">Make a Website</a></li>
                  <li><a href="#">Make an Interactive Website</a></li>
                  <li><a href="#">Learn Sass</a></li>
                  <li><a href="#">Deploy a Website</a></li>
                  <li><a href="#">Learn JavaScript</a></li>
                  <li><a href="#">Learn Rails</a></li>
                  <li><a href="#">Learn AngularJS</a></li>
                  <li><a href="#">Learn ReactJS: Part I</a></li>
                  <li><a href="#">Learn ReactJS: Part II</a></li>
                  <li><a href="#">Ruby on Rails Authentication</a></li>
                  <li><a href="#">Learn the Command Line</a></li>
                  <li><a href="#">Learn Git</a></li>
                  <li><a href="#">Learn SQL</a></li>
                  <li><a href="#">SQL: Table Transformation</a></li>
                  <li><a href="#">SQL: Analyzing Business Metrics</a></li>
                  <li><a href="#">Learn Java</a></li>
                  <li><a href="#">Learn HTML &amp; CSS</a></li>
                </ul>
              </div>
            </div>
            <div class="courseList col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <div class="courses">
                <ul>
                  <li><a href="#">HTML &amp; CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                  <li><a href="#">jQuery</a></li>
                  <li><a href="#">PHP</a></li>
                  <li><a href="#">Python</a></li>
                  <li><a href="#">Ruby</a></li>
                  <li><a href="#">Learn APIs</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
