<!-- learnMore scroll-link -->
<div class="container-fluid hidden-xs">
  <a href="#learnMore">
    <nav class="learnMoreScrollButton navbar navbar-default navbar-fixed-bottom">
      <div class="content container-fluid">
        <p>Learn more</p>
        <span class="caret"></span>
      </div>
    </nav>
  </a>
</div>
