<div class="legal container-fluid">
  <div class="content">
    <div class="row">
      <!-- Legal links -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="legalLinks">
          <p><a href="#">Privacy Policy</a> | <a href="#">Terms</a></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="row">
          <!-- Copyright -->
          <div class="copyright col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <p>Made in NYC © 2016 Codecademy</p>
          </div>
          <!-- language -->
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="languageDropup dropup">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <p>English <span class="caret"></p>
              </button>
              <ul class="dropdown-menu bullet" aria-labelledby="dropdownMenu1">
                <li><a href="#">English</a></li>
                <li><a href="#">Español</a></li>
                <li><a href="#">Français</a></li>
                <li><a href="#">Português</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
