<div class="loggedInNavbar">
  <nav class="navbar navbar-fixed-top navbar-default container-fluid">
    <div class="content container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/learn">
          <img class="logoImg" src="img/codecademyLogo.svg" alt="">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="btn-holder">
        <ul class="nav navbar-nav navbar-right">
          <li><input id="upgradeToProButton" class="btn hidden-xs" onClick="location='#'" type="button" value="Upgrade to Pro"></li>
          <li><input id="learnButton" class="btn hidden-xs" onClick="location='#'" type="button" value="Learn"></li>
          <li><input id="catalogButton" class="btn hidden-xs" onClick="location='#'" type="button" value="Catalog"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" href="">
              <i class="fa fa-bell"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Notifications</li>

            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" href="">
              <img class="img-circle userImg" src="img/userImg.jpg">
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">{{ user.username }}</li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="/account">
                    <input class="btn" type="submit" value="My account">
                </a>
              </li>
              <li>
                <a href="#">
                    <input class="btn" type="submit" value="Help">
                </a>
              </li>
              <li>
                <a href="#">
                  <form action="/logout" method="post">
                    <input class="btn" type="submit" value="Log out">
                  </form>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
