<div class="signupDiv">
  <div class="signup-form">
    <form class="form-signin" action="/login" method="post">
      <h2 class="form-signin-heading">LOG IN AND CONTINUE CODING</h2>
      <div class="btn-group-vertical">
        <input class="btn" type="text" name="emailOrUser" placeholder="Email or username">
        <input class="btn" type="password" name="password" placeholder="Password">
      </div>
      <!-- Signup button -->
      <button class="signup-btn btn btn-block" type="submit">LOG IN</button>
      <!-- Socal site log in -->
      <p class="socialLogin">Log in with
        <a href="#">Google</a>, <a href="#">Facebook</a>, or <a href="#">Twitter</a>
      </p>
      <p class="forgotPassword"><a href="#">Forgot your password?</a></p>
    </form>
  </div>
</div>
