<!-- Second section -->
<div id="learnMore" class="second-div hidden-xs">
  <div class="content container-fluid">
    <div class="row">
      <div class="leftText col-lg-4 col-md-4 col-sm-4">
        <h2>How can coding help you?</h2>
        <p>Hear how Tommy went from knowing nothing about code to building one of Time's '50 Best Websites' after learning with Codecademy.</p>
      </div>
      <div class="youtubeVideo col-lg-8 col-md-8 col-sm-8">
        <iframe width="590" height="330" src="https://www.youtube.com/embed/fjQ7XaMNQNc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
