<!-- Right form -->
<form class="form-signin">
  <h2 class="form-signin-heading">SIGN UP AND START CODING IN SECONDS</h2>
  <div class="inputs btn-group-vertical" role="group" aria-label="...">
    <input class="btn btn-default" type="email" name="" placeholder="Email">
    <input class="btn btn-default" type="text" name="" placeholder="Username">
    <input class="btn btn-default" type="password" name="" placeholder="Password">
  </div>
  <!-- Signup button -->
  <button class="signup-btn btn btn-lg btn-primary btn-block" type="submit">SIGN UP</button>
  <!-- Login with Google/Facebook buttons -->
  <div class="social-btn">
    <button class="btn btn-primary" type="submit"><span class="g-icon"><i class="fa fa-google"></i></span> Google</button>
    <button class="btn btn-primary pull-right" type="submit"><span class="fb-icon"><i class="fa fa-facebook-official"></i></span> Facebook</button>
  </div>
  <!-- Terms of service disclaimer -->
  <p class="ToS">By signing up, you agree to our Terms of service</p>
</form>
