<!-- Third section -->
<div class="third-div">
  <div class="content container-fluid">
    <h2 class="title">Kodekademy Stories</h2>
    <div class="storiesRow row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="#">
          <div class="story">
            <img class="img-circle" src="img/sam-fellig.jpg" alt="">
            <h4 class="name">Sam Fellig</h4>
            <h4 class="location"><i class="fa fa-map-marker"></i> New York, US</h4>
            <h2 class="pageTitle">How to Outgrow the Fear of Starting</h2>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="#">
          <div class="story">
            <img class="img-circle" src="img/liz.jpg" alt="">
            <h4 class="name">Liz Beigle-Bryant</h4>
            <h4 class="location"><i class="fa fa-map-marker"></i> Seattle</h4>
            <h2 class="pageTitle">A new career at 55</h2>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="#">
          <div class="story">
            <img class="img-circle" src="img/joah-haley.jpg" alt="">
            <h4 class="name">Joah Gerstenberg and Haley Higgins</h4>
            <h4 class="location"><i class="fa fa-map-marker"></i> Texas</h4>
            <h2 class="pageTitle">Teen duo from Texas codes a calculator</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="readMore container-fluid">
      <a href="#">Read more stories</a>
    </div>
    <div class="hr"></div>
    <div class="joinOver25Million container-fluid">
      <h2><span>Join over</span><br>25 million</h2>
      <p>learning from around the globe</p>
    </div>
  </div>
</div>
