{{> HTMLHeader}}
  <title>Learn to code | Codecademy</title>
</head>
<body>
  {{> navbar}}

  <div class="container-fluid">

    <!-- Attention getter -->
    <div class="header-title">
      <h1>Learn to code interactively, for free.</h1>
    </div>

    <!-- Padding -->
    <div class="divide-padding"></div>

    <!-- Signup section -->
    <div class="signupDiv container-fluid">
      <div class="row">
        <!-- Left image -->
        <div class="signup-img-div col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <img class="signup-img img-responsive" src="img/mac.png" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          {{> signupform}}
        </div>
      </div>
    </div>
  </div>
</body>
{{> HTMLFooter}}
