<title>Learn to code | Codecademy</title>
</head>
<body>
  {{> navbar}}

  <ol>
    {{#each items}}
      <li>{{ username }}</li>
    {{/each}}
  </ol>

  <div class="first-div container-fluid">

    <!-- Attention getter -->
    <div class="header-title">
      <h1 id="mainPageGrabber">Learn to code interactively, for free.</h1>
    </div>

    <!-- Padding -->
    <div class="divide-padding"></div>

    <!-- Signup section -->
    <div class="signupDiv container-fluid">
      <div class="row">
        <!-- Left image -->
        <div class="signup-img-div col-lg-7 col-md-7 col-sm-7 col-xs-12">
          <a href="https://github.com/igoramidzic/codecademy" target="_blank">
            <img class="signup-img img-responsive" src="img/mac.png" alt="">
          </a>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
          {{> signupform}}
        </div>
      </div>
    </div>
  </div>
  {{> learnMoreScrollLink}}
  {{> secondDiv}}
  {{> thirdDiv}}
  {{> footer}}
  {{> legal}}
</body>
