{{> HTMLHeader}}
  <title>Learn to code | Codecademy</title>
</head>
<body>
  {{#if loggedIn}}
    {{> loggedInNavbar}}
  {{else }}
    {{> navbar}}
  {{/if}}

  {{> secondDiv}}
  {{> thirdDiv}}
  {{> footer}}
  {{> legal}}
</body>
{{> HTMLFooter}}
