{{> HTMLHeader}}
  <title>Sign up | Codecademy</title>
</head>
<body>
  {{> navbar}}
  <div class="first-div container-fluid">
    {{> signupform}}
  </div>
  {{> footer}}
  {{> legal}}
</body>
{{> HTMLFooter}}
