$green: #34b3a0
$greenHover: rgb(54, 196, 175)
$textColor: rgb(46, 66, 86)

*
  font-family: 'Open Sans', sans-serif

.userImg
  padding: 0px
  width: 23px

body
  background-color: rgb(233, 233, 233)

.btn:focus
  box-shadow: none

// Default navbar
.navbar
  height: 50px
  border-radius: 0px
  margin-bottom: 0px
  background-color: #fff
  .container-fluid
    padding: 0px
  .navbar-header
    max-width: 100px
    min-width: 100px
    .logoImg
      width: 120px
      position: relative
      top: -2px
  .btn-holder
    text-align: right
    line-height: 48px


/* Logged in Navbar */
.loggedOutNavbar
  .navbar
    .container-fluid
      padding: 0px
      max-width: 960px
    .btn-holder
      position: relative
      right: -5px
      min-width: 239px
      .navButton
        border-radius: 0px
        height: 38px
        width: 100px
        font-size: 16px
        transition: all .15s
      #loginBtn
        border: 1px solid $green
        color: $green
        &:hover
          border-color: $greenHover
          color: $greenHover
      #signupBtn
        margin-left: 5px
        border: 1px solid $green
        background-color: $green
        color: #fff
        &:hover
          background-color: $greenHover
          border-color: $greenHover

.loggedInNavbar
  .btn
    background-color: #fff
  #upgradeToProButton
    border: 1px solid $green
    color: $green
    font-size: 16px
    outline: none
    height: 38px
    &:hover
      border-color: $greenHover
      color: $greenHover
  #learnButton, #catalogButton
    padding-left: 0px
    padding-right: 0px
    font-size: 16px
    outline: none
    height: 48px
  #learnButton
    border-bottom: 3px solid $textColor
    margin: 0px 16px 0px 30px
  #catalogButton
    margin: 0px 16px 0px 16px
  .dropdown
    .btn
      outline: none
      background-color: rgba(255, 255, 255, 0)
  .dropdown-toggle
    padding-left: 0px
    padding-right: 0px
    margin: 0px 15px 0px 16px


.first-div
  background-color: rgb(233, 233, 233)
  padding: 20px 0px 52px 0px








.second-div
  background-color: #fff
  padding: 75px 0px 75px 0px
  .content
    max-width: 944px
    margin: 0 auto
    .leftText
      text-align: right
      color: $textColor
      padding: 60px 20px 0px 20px
      h2
        font-weight: bold
      p
        font-size: 16px
    .youtubeVideo
      padding-left: 20px






.third-div
  background-color: rgb(233, 233, 233)
  height: 1000px


.header-title
  max-width: 944px
  text-align: center
  margin: 0 auto
  margin-top: 90px
  h1
    color: $textColor
    font-size: 39px

.divide-padding
  margin: 0 auto
  height: 100px
  max-width: 944px

.signupDiv
  max-width: 944px
  margin: 0 auto
  padding-bottom: 29px
  .signup-img-div
    padding: 60px 140px 150px 140px
    img
      transition: all .25s
      &:hover
        transform: translate(0px, 5px)
        box-shadow: 0px -14px 10px -10px rgba(0, 0, 0, 0.3)

  .signup-form
    margin: 0 auto
    max-width: 300px
    .form-signin-heading
      text-align: center
      font-size: 19px
      color: rgb(149, 149, 149)
      padding-bottom: 10px
    .btn-group-vertical
      width: 300px
      margin-bottom: 30px
      .btn
        border: 1px solid rgb(129, 129, 129)
        border-radius: 0px
        cursor: text
        color: $textColor
        text-align: left
        height: 48px
        font-size: 17px
        outline: none
        &:active
          box-shadow: 0px 0px 0px
    .signup-btn
      background-color: $green
      color: #fff
      border: none
      height: 50px
      font-size: 20px
      border-radius: 0px
      margin-bottom: 15px
      &:hover
        background-color: $greenHover
      &:active
        background-color: rgb(7, 89, 77)
        outline: none
    .social-btn
      margin: 30px 0px 5px 0px
      font-size: 15px
      .btn
        line-height: 20px
        text-align: left
        background-color: #fff
        border: none
        color: rgb(129, 129, 129)
        border-radius: 0px
        width: 145px
        height: 40px
        outline: none
        box-shadow: 0px 1px 1px #888888
        &:hover
          background-color: rgb(233, 233, 233)
        span
          font-size: 20px
          padding-right: 5px
        .g-icon
          color: rgb(209, 68, 55)
        .fb-icon
          color: rgb(67, 84, 141)
    .ToS
      color: $textColor
      font-size: 13.5px
      text-align: center
    .socialLogin
      text-align: center
      font-weight: bold
      a
        color: $green
    .forgotPassword
      position: relative
      top: -10px
      text-align: center
      a
        color: $green


// --------------------------------- Footer --------------------------------- //
.footer
  background-color: #d4d5d6
  .content
    max-width: 935px
    margin: 0 auto
    padding-bottom: 15px
    padding-top: 20px
    h5
      font-size: 19px
      font-weight: bold
      color: $textColor
    ul
      padding: 0px
      li
        list-style-type: none
        a
          color: $textColor
          font-size: 16px
    .socialLinks
      padding: 10px
      img
        width: 152px
        margin-bottom: 20px
      p
        font-size: 16px
        font-weight: bold
        margin-bottom: 10px
        color: rgb(62, 62, 64)
      .socialIcons
        a
          color: rgb(147, 149, 152)
          font-size: 17px
          padding-right: 8px
          &:hover
            color: rgb(32, 64, 86)
    .courseList, .codecademyInfoDiv
      padding-left: 0px
      padding-right: 0px
      padding-bottom: 0px

// -------------------------------- Legal ----------------------------------- //
.legal
  background-color: #d4d5d6
  border-top: 1px solid #fff
  height: 58px
  .content
    max-width: 935px
    margin: 0 auto
    padding-top: 15px
    .legalLinks
      a, p
        font-weight: bold
        font-size: 17
        color: rgb(32, 64, 86)
  .copyright
    color: rgb(62, 62, 64)
    font-weight: bold
    font-size: 14px
  .languageDropup
    color: rgb(62, 62, 64)
    button
      padding: 0px 5px 0px 5px
      background-color: #d4d5d6
      text-align: left
      width: 170px
      height: 25px
      &:hover
        background-color: $greenHover
        color: #fff
      &:active
        outline: none
