* {
  font-family: "Open Sans", sans-serif; }

.userImg {
  padding: 0px;
  width: 23px; }

body {
  background-color: #e9e9e9; }

.btn:focus {
  box-shadow: none; }

.navbar {
  height: 50px;
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: #fff; }
  .navbar .container-fluid {
    padding: 0px; }
  .navbar .navbar-header {
    max-width: 100px;
    min-width: 100px; }
    .navbar .navbar-header .logoImg {
      width: 120px;
      position: relative;
      top: -2px; }
  .navbar .btn-holder {
    text-align: right;
    line-height: 48px; }

/* Logged in Navbar */
.loggedOutNavbar .navbar .container-fluid {
  padding: 0px;
  max-width: 960px; }
.loggedOutNavbar .navbar .btn-holder {
  position: relative;
  right: -5px;
  min-width: 239px; }
  .loggedOutNavbar .navbar .btn-holder .navButton {
    border-radius: 0px;
    height: 38px;
    width: 100px;
    font-size: 16px;
    transition: all 0.15s; }
  .loggedOutNavbar .navbar .btn-holder #loginBtn {
    border: 1px solid #34b3a0;
    color: #34b3a0; }
    .loggedOutNavbar .navbar .btn-holder #loginBtn:hover {
      border-color: #36c4af;
      color: #36c4af; }
  .loggedOutNavbar .navbar .btn-holder #signupBtn {
    margin-left: 5px;
    border: 1px solid #34b3a0;
    background-color: #34b3a0;
    color: #fff; }
    .loggedOutNavbar .navbar .btn-holder #signupBtn:hover {
      background-color: #36c4af;
      border-color: #36c4af; }

.loggedInNavbar .btn {
  background-color: #fff; }
.loggedInNavbar #upgradeToProButton {
  border: 1px solid #34b3a0;
  color: #34b3a0;
  font-size: 16px;
  outline: none;
  height: 38px; }
  .loggedInNavbar #upgradeToProButton:hover {
    border-color: #36c4af;
    color: #36c4af; }
.loggedInNavbar #learnButton, .loggedInNavbar #catalogButton {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
  outline: none;
  height: 48px; }
.loggedInNavbar #learnButton {
  border-bottom: 3px solid #2e4256;
  margin: 0px 16px 0px 30px; }
.loggedInNavbar #catalogButton {
  margin: 0px 16px 0px 16px; }
.loggedInNavbar .dropdown .btn {
  outline: none;
  background-color: rgba(255, 255, 255, 0); }
.loggedInNavbar .dropdown-toggle {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 15px 0px 16px; }

.first-div {
  background-color: #e9e9e9;
  padding: 20px 0px 52px 0px; }

.learnMoreScrollButton {
  height: 56px;
  width: 100%;
  opacity: 0;
  background-color: rgba(47, 86, 111, 0.9);
  transition: all 0.5s; }
  .learnMoreScrollButton .content {
    color: #fff;
    padding-top: 15px;
    text-align: center; }
    .learnMoreScrollButton .content p {
      font-size: 16px; }
    .learnMoreScrollButton .content span {
      margin-top: -30px;
      transition: all 0.5s; }
    .learnMoreScrollButton .content:hover span {
      transform: translateY(5px); }

.second-div {
  background-color: #fff;
  padding: 65px 0px 75px 0px; }
  .second-div .content {
    max-width: 944px;
    margin: 0 auto; }
    .second-div .content .leftText {
      text-align: right;
      color: #2e4256;
      padding: 60px 20px 0px 20px; }
      .second-div .content .leftText h2 {
        font-weight: bold;
        padding-bottom: 10px; }
      .second-div .content .leftText p {
        font-size: 16px; }
    .second-div .content .youtubeVideo {
      padding-left: 20px; }

.third-div {
  background-color: #e9e9e9; }
  .third-div .content {
    padding-top: 50px;
    max-width: 960px;
    margin: 0 auto;
    text-align: center; }
    .third-div .content .title {
      padding-bottom: 55px;
      color: #2e4256;
      font-size: 32px; }
    .third-div .content .storiesRow a {
      text-decoration: none; }
    .third-div .content .storiesRow .story {
      color: #2e4256;
      background-color: #fff;
      padding: 63px 30px 50px 30px;
      margin-bottom: 15px; }
      .third-div .content .storiesRow .story:hover {
        color: #fff;
        background-color: #36c4af; }
      .third-div .content .storiesRow .story img {
        max-width: 120px;
        padding-bottom: 10px; }
      .third-div .content .storiesRow .story .name {
        font-weight: bold; }
      .third-div .content .storiesRow .story .location {
        font-size: 16px;
        padding-bottom: 30px; }
      .third-div .content .storiesRow .story .pageTitle {
        font-weight: lighter;
        font-size: 26px; }
    .third-div .content .readMore {
      padding: 25px 0px 40px 0px; }
      .third-div .content .readMore a {
        color: #2e4256;
        font-size: 17px;
        font-weight: normal; }
    .third-div .content .hr {
      height: 1px;
      background-color: #d4d5d6;
      max-width: 960px;
      margin-bottom: 10px; }
    .third-div .content .joinOver25Million {
      padding-bottom: 65px; }
      .third-div .content .joinOver25Million h2 {
        color: #2e4256;
        font-weight: bold;
        padding-bottom: 10px; }
        .third-div .content .joinOver25Million h2 span {
          font-weight: normal;
          font-size: 16px;
          color: #3e3e40; }
      .third-div .content .joinOver25Million p {
        font-size: 16px;
        color: #3e3e40; }

@media only screen and (max-device-width: 576px) {
  * {
    background-color: orange; } }
.header-title {
  max-width: 944px;
  text-align: center;
  margin: 0 auto;
  margin-top: 90px; }
  .header-title h1 {
    color: #2e4256;
    font-size: 39px; }

.divide-padding {
  margin: 0 auto;
  height: 100px;
  max-width: 944px; }

.signupDiv {
  max-width: 944px;
  margin: 0 auto;
  padding-bottom: 29px; }
  .signupDiv .signup-img-div {
    padding: 60px 140px 150px 140px; }
    .signupDiv .signup-img-div img {
      transition: all 0.25s; }
      .signupDiv .signup-img-div img:hover {
        transform: translate(0px, 5px);
        box-shadow: 0px -14px 10px -10px rgba(0, 0, 0, 0.3); }
  .signupDiv .signup-form {
    margin: 0 auto;
    max-width: 300px; }
    .signupDiv .signup-form .form-signin-heading {
      text-align: center;
      font-size: 19px;
      color: #959595;
      padding-bottom: 10px; }
    .signupDiv .signup-form .btn-group-vertical {
      width: 300px;
      margin-bottom: 30px; }
      .signupDiv .signup-form .btn-group-vertical .btn {
        border: 1px solid #818181;
        border-radius: 0px;
        cursor: text;
        color: #2e4256;
        text-align: left;
        height: 48px;
        font-size: 17px;
        outline: none; }
        .signupDiv .signup-form .btn-group-vertical .btn:active {
          box-shadow: 0px 0px 0px; }
    .signupDiv .signup-form .signup-btn {
      background-color: #34b3a0;
      color: #fff;
      border: none;
      height: 50px;
      font-size: 20px;
      border-radius: 0px;
      margin-bottom: 15px; }
      .signupDiv .signup-form .signup-btn:hover {
        background-color: #36c4af; }
      .signupDiv .signup-form .signup-btn:active {
        background-color: #07594d;
        outline: none; }
    .signupDiv .signup-form .social-btn {
      margin: 30px 0px 5px 0px;
      font-size: 15px; }
      .signupDiv .signup-form .social-btn .btn {
        line-height: 20px;
        text-align: left;
        background-color: #fff;
        border: none;
        color: #818181;
        border-radius: 0px;
        width: 145px;
        height: 40px;
        outline: none;
        box-shadow: 0px 1px 1px #888888; }
        .signupDiv .signup-form .social-btn .btn:hover {
          background-color: #e9e9e9; }
        .signupDiv .signup-form .social-btn .btn span {
          font-size: 20px;
          padding-right: 5px; }
        .signupDiv .signup-form .social-btn .btn .g-icon {
          color: #d14437; }
        .signupDiv .signup-form .social-btn .btn .fb-icon {
          color: #43548d; }
    .signupDiv .signup-form .ToS {
      color: #2e4256;
      font-size: 13.5px;
      text-align: center; }
    .signupDiv .signup-form .socialLogin {
      text-align: center;
      font-weight: bold; }
      .signupDiv .signup-form .socialLogin a {
        color: #34b3a0; }
    .signupDiv .signup-form .forgotPassword {
      position: relative;
      top: -10px;
      text-align: center; }
      .signupDiv .signup-form .forgotPassword a {
        color: #34b3a0; }

.footer {
  background-color: #d4d5d6; }
  .footer .content {
    max-width: 935px;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 20px; }
    .footer .content h5 {
      font-size: 19px;
      font-weight: bold;
      color: #2e4256; }
    .footer .content ul {
      padding: 0px; }
      .footer .content ul li {
        list-style-type: none; }
        .footer .content ul li a {
          color: #2e4256;
          font-size: 16px; }
    .footer .content .socialLinks {
      padding: 10px; }
      .footer .content .socialLinks img {
        width: 152px;
        margin-bottom: 20px; }
      .footer .content .socialLinks p {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #3e3e40; }
      .footer .content .socialLinks .socialIcons a {
        color: #939598;
        font-size: 17px;
        padding-right: 8px; }
        .footer .content .socialLinks .socialIcons a:hover {
          color: #204056; }
    .footer .content .courseList, .footer .content .codecademyInfoDiv {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px; }

.legal {
  background-color: #d4d5d6;
  border-top: 1px solid #fff;
  min-height: 58px; }
  .legal .content {
    max-width: 935px;
    margin: 0 auto;
    padding-top: 15px; }
    .legal .content .legalLinks a, .legal .content .legalLinks p {
      font-weight: bold;
      font-size: 17;
      color: #204056; }
  .legal .copyright {
    color: #3e3e40;
    font-weight: bold;
    font-size: 14px; }
  .legal .languageDropup {
    color: #3e3e40; }
    .legal .languageDropup button {
      padding: 0px 5px 0px 5px;
      background-color: #d4d5d6;
      text-align: left;
      width: 170px;
      height: 25px; }
      .legal .languageDropup button:hover {
        background-color: #36c4af;
        color: #fff; }
      .legal .languageDropup button:active {
        outline: none; }

/*# sourceMappingURL=styles.css.map */
